<h1>User Page!!!!!!</h1>

<body class="bg-success p-2 text-dark bg-opacity-25">
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1> <span role="img" aria-label="team">🖥️</span>
                <a class="text-dark" class="text-primary" href="/">DEV HUB</a>
            </h1>
        

    </div>
    <nav>

{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money"></span>
      <!-- Pass needed_funding value to the helper function -->
      <span>{{project.name}}</span> 
      needed!
    </p>
    <p>Created by {{project.user_id.name}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
      
    </p>
  </div>
</div>
{{/each}}